<app-header></app-header>
<app-separator></app-separator>
<div class="section">
    <div class="imgs-wrapper">
        <img src="assets/img/oregan.png" alt="veg" class="d-none d-lg-block">
        <img src="assets/img/pizzabackground.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">
        <div class="auth-wrapper">
            <div class="auth-description bg-cover bg-center dark-overlay dark-overlay-2" style="background-image: url('assets/img/pizza.jpeg')">
                <div class="auth-description-inner">
                    <i class="fa-solid fa-pepper-hot"></i>
                    <h2>Bienvenido</h2>
                    <p>Es un gusto tenerte en nuestra pizzeria.</p>
                </div>
            </div>
            <div class="auth-form">
                <h2>Login</h2>
                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-light" placeholder="Nombre de usuario" name="username" value="" [(ngModel)]="account.username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-light" placeholder="Contraseña" name="password" value="" [(ngModel)]="account.password" required>
                    </div>
                    <a href="#"></a>
                    <button type="submit" class="btn-custom primary"(click)="login()">Iniciar sesión</button>
                    <div class="auth-seperator">
                        <span>OR</span>
                    </div>
                    <div class="social-login">
                        <button type="button" class="ct-social-login facebook"><i class="fab fa-facebook-f"></i> Continuar con Facebook </button>
                        <button type="button" class="ct-social-login google"><i class="fab fa-google"></i> Continuar con Google</button>
                    </div>
                    <p>Don't have an account? <a routerLink="/register">Crear cuenta</a> </p>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
  

