  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/mision.jpg" alt="logo"width="60" height="60"class="d-inline-block align-top rounded-circle">
      <span class="brand-text">Dianne Mormont</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="dropdown-item menu-item" routerLink="/producto">Producto</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item menu-item" routerLink="/registro">Registro</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item menu-item" routerLink="/login">Login</a>
      </li>
        <li class="nav-item">
            <a class="dropdown-item menu-item" routerLink="/contactenos">Contactenos</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item menu-item" routerLink="/mision">Mision</a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item menu-item" routerLink="/vision">Vision</a>
        </li>
      </ul>
    </div>
  </nav>
            
  
  