<div class="container">
    <div class="section text-center cta bg-cover bg-center dark-overlay dark-overlay-2 bg-parallax" style="background-image: url('assets/img/pedido.jpg')">
        <div class="section-title-wrap section-header text-center">
            <h5 class="custom-primary">Realiza tu pedido</h5>
            <h2 class="title text-white">10% de descuento en tu primer pedido</h2>
            <p class="subtitle text-white">
                Encontratas las pizas mas exquisitas del mercado
            </p>
        </div>
        <a routerLink="/menu-v1" class="btn-custom shadow-none">Hacer pedido</a>
    </div>
</div>