<!-- Checkout Start -->
<section class="section">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-xl-7">
                    <!-- Login -->
                    <div class="ct-notice">
                        <p>Are you a returning customer? <a href="javascript:void(0)" (click)="isOne = !isOne"
                                [attr.aria-expanded]="!isOne">Click here to login</a> </p>
                    </div>
                    <div [ngbCollapse]="isOne" class="collapse">
                        <div class="ct-notice-content d-block">
                            <div class="row">
                                <div class="col-xl-6 form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" name="login-email"
                                        placeholder="Username" value="">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="login-pass" placeholder="Password"
                                        value="">
                                </div>
                                <div class="col-12 form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                                        <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn-custom shadow-none btn-sm"
                                        name="button">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Coupon Code -->
                    
                    <div [ngbCollapse]="isTwo" class="collapse">
                        <div class="ct-notice-content d-block">
                            <p>If you have a coupon code, apply it below</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Coupon Code">
                                <div class="input-group-append">
                                    <button class="btn-custom shadow-none" type="button">Apply Code</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buyer Info -->
                    <h4>Billing Details</h4>
                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label>Nombre  <span class="text-danger">*</span></label>
                            <input type="text" placeholder="First Name" name="fname" class="form-control" value=""
                                required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Apellido <span class="text-danger">*</span></label>
                            <input type="text" placeholder="Last Name" name="lname" class="form-control" value=""
                                required="">
                        </div>
                       
                        <div class="form-group col-xl-12">
                            
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Direccion de envio <span class="text-danger">*</span></label>
                            <input type="text" placeholder="Street Address One" name="addr-1" class="form-control"
                                value="" required="">
                        </div>
                        
                        <div class="form-group col-xl-12">
                            <label>Ciudad<span class="text-danger">*</span></label>
                            <input type="text" placeholder="Town/City" name="town" class="form-control" value=""
                                required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Telefono<span class="text-danger">*</span></label>
                            <input type="text" placeholder="Phone Number" name="phone" class="form-control" value=""
                                required="">
                        </div>
                        <div class="form-group col-xl-6">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="email" placeholder="Email Address" name="email" class="form-control" value=""
                                required="">
                        </div>
                        <div class="form-group col-xl-12 mb-0">
                            <label>Informacion adicional</label>
                            <textarea name="name" rows="5" class="form-control"
                                placeholder="Order Notes (Optional)"></textarea>
                        </div>
                    </div>
                    <!-- /Buyer Info -->
                </div>
                <div class="col-xl-5 checkout-billing">
                    <!-- Order Details Start -->
                    <table class="ct-responsive-table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cart">
                                <td data-title="Product">
                                    <div class="cart-product-wrapper">
                                        <div class="cart-product-body">
                                            <h6> <a routerLink="/menu-item-v1/1">{{item.name}}</a> </h6>
                                            <p *ngFor="let item of item.flavours">{{item}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="Quantity">x{{item.qty}}</td>
                                <td data-title="Total"> <strong>{{item.price * item.qty | number:'1.2-2'}}$</strong>
                                </td>
                            </tr>
                            <tr class="total">
                                <td>
                                    <h6 class="mb-0">Total</h6>
                                </td>
                                <td></td>
                                <td> <strong>{{calculateprice() | number:'1.2-2'}}$</strong> </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="small">Your personal data will be used to process your order, support your experience
                        throughout this website, and for other purposes described in our <a class="btn-link"
                            href="#">privacy policy.</a> </p>
                    <button type="submit" class="btn-custom primary btn-block">Ordenar</button>
                    <!-- Order Details End -->
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout End -->