.menu-item {
    color:  rgb(246, 137, 179);  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}


.brand-text {
    color: rgb(246, 137, 179); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 15px;
}
