
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<footer class="bg-light text-center py-3">
  <div class="container">
      <p>&copy; 2023 Dianne Mormont - Todos los derechos reservados</p>
      <p>Cali colombia .</p>
      <p>Teléfono: 3154787885| Email: info@dianne-mormont.com</p>
      <div class="social-icons">
          <a href="https://www.facebook.com/naniis.orozco?mibextid=LQQJ4d"target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://wa.me/message/245BWUPEWSDTF1"target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="https://instagram.com/dianne_mormont?igshid=MzRlODBiNWFlZA=="target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
  </div>
</footer>