<diannemormont-header></diannemormont-header>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Nuestra vision</h2>
        <p>
            Visión: Nuestra visión en Dianne Mormont es convertirnos en la marca líder en la industria de los salones de uñas, 
            reconocida por ofrecer la mejor experiencia a nuestros clientes. Nos esforzamos por superar las expectativas de nuestros
             clientes en términos de calidad, servicio y atención al detalle. A través de la innovación constante y la búsqueda de la excelencia,
              aspiramos a expandirnos a nivel nacional e internacional, estableciendo estándares más altos en el cuidado de las uñas y el bienestar personal. Queremos ser el lugar de referencia para aquellos que buscan una experiencia de belleza única y gratificante.
        </p>
      </div>
      <div class="col-md-4">
        <img class="card-img-v"src="assets/mision.jpg" alt="Imagen de la Misión">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <diannemormont-footer></diannemormont-footer>