<diannemormont-header></diannemormont-header>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Nuestra Misión</h2>
        <p>
            Misión: En Dianne Mormont, nuestro objetivo principal es brindar empleos estables, oportunidades y un excelente ambiente laboral para nuestros empleados. Nos esforzamos por ser un lugar 
            donde todos puedan crecer profesionalmente, sentirse valorados y realizados en su trabajo. Creemos que al invertir en nuestro equipo, podemos proporcionar un servicio 
            excepcional a nuestros clientes y construir relaciones duraderas con ellos.
        </p>
      </div>
      <div class="col-md-4">
        <img class="card-img-m"src="assets/mision.jpg" alt="Imagen de la Misión" >
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <diannemormont-footer></diannemormont-footer>