<!-- About us start -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
                <img src="assets/img/about.jpg" alt="img">
                <div class="ct-dots"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h5 class="custom-primary">sobre nosotros</h5>
                    <h2 class="title">la mejor pizza en el pais desde el 1994</h2>
                    <p class="subtitle">
                        Es una creación de Walter Wong, el propietario del restaurante, de origen canadiense, y su simpático anfitrión. Hijo de inmigrantes chinos, Wong es un cocinero autodidacta que 
                        creció en un barrio de Montreal con una mezcla étnica de italianos, griegos, franceses y árabes. Desde muy joven se apasionó por la cocina mediterránea y, tras una larga carrera en los sectores del software y el comercio minorista, este residente de Carlsbad 
                        logró el año pasado el sueño de su vida: abrir su propio restaurante.
                    </p>
                    <p class="subtitle">
                        Somos numero 1 en la industria de pizzerias
                    </p>
                    <div class="signature">
            </div>
        </div>
    </div>
</div>
<!-- About us End -->