<app-header></app-header>
<div class="row justify-content-center">
<div class="container">
    <h2>Complete el formulario</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="inputNombre">Nombre</label>
          <input type="text" placeholder="Introduzca su Nombre" class="form-control" name="name" [(ngModel)]="newContact.name" required>
        </div>
        <div class="form-group col-md-8">
          <label for="inputEmail">Email</label>
          <input type="email" placeholder="Introduzca su Email" class="form-control" name="email" [(ngModel)]="newContact.email" required>
        </div>
        <div class="form-group col-md-8">
          <label for="inputTelefono">Mensaje</label>
          <input type="Mensaje" placeholder="Introduzca su Mensaje" class="form-control" name="message" [(ngModel)]="newContact.message" required>
        </div>
      </div>
      <div class="form-group">
      </div>
      <button (click)="create()" type="submit" class="btn" style="background-color: #ff69b4; color: #fff;">Enviar</button>
    </form>
  </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>